
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd";;>
<plist version="1.0">
  <dict>
    <key>compileBitcode</key>
    <false/>
    <key>method</key>
    <string>development</string>
    <key>teamID</key>
    <string>Q3VZHMHCPE</string>
    <key>uploadBitcode</key>
    <false/>
    <key>uploadSymbols</key>
    <false/>
    <key>signingCertificate</key>
    <string>Apple Distribution: NEWLINE INTERACTIVE, INC. (QWGZS87F5T)</string>
    <key>signingStyle</key>
    <string>manual</string>
    <key>provisioningProfiles</key>
    <dict>
      <key>com.ios.hht.hihub</key>
      <string>ecc5be74-fbfe-493f-9c51-58f203e485fd</string>
    </dict>
  </dict>
</plist>